<a href="https://colab.research.google.com/github/Sananda05/Python-Basic/blob/master/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tutorial 7

In [ ]:
def hello_func(greeting,name):
  return '{}, {}'.format(greeting,name)

print(hello_func('Hi','Sananda'))

def student_info(*args,**kwargs):
  print(args)
  print(kwargs)

courses =['math','arts']
info ={'name':'sananda','age':'24'}

print(*courses,**info)

Hi, Sananda

TypeError: ignored

#Leap Year

In [2]:
def check_leap_year(year):
  """Return true for leap year"""
  return year%4==0 and ( year %100 !=0 or year%400 ==0)

print(check_leap_year(2017))

False

#Days in Month

In [4]:
months =[0,31,28,31,30,31,30,31,31,30,31,31,31]

def day_count(year,month):
  if not 1<= month <=12:
    return 'Invalid month'
  if month == 2 and check_leap_year(year):
    return 29
  return months[month]

print(day_count(2017,2))

28