<a href="https://colab.research.google.com/github/Sananda05/Python-Basic/blob/master/Lists_Tuples_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tutorial 4

In [30]:
#List

names =['Sananda','Hissan','Adiba','Susmi']
print (names)
print(len(names))

#last item index
print(names[-1])

print(names[0:2])
print(names[2:])

#list method
names.append('Anika')
print(names)
names.insert(0,'Fahim')
print(names)

id=['1','24','3']
names.insert(0,id)
print(names)

names.extend(id)
print(names)

#remove item

names.remove(id)
print(names)

names.pop()
print(names)

#reverse List

names.reverse()
print(names)

#sort List
#alphabetic order and ascending order
names.sort()
print(names)

#descending order
names.sort(reverse=True)
print (names)

#sorted function

sorted_nums = sorted(id)
print(sorted_nums)

nums=[3,5,1,4]
print(min(nums))
print(max(nums))
print(sum(nums))

#search index of element
print(names.index('Hissan'))

#boolean
print('Robi'in names)
print('Fahim'in names)

#for loop
for n in names:
  print (n)

#get index + element

for i,n in enumerate(names):
 print(i,n)

#specify starting
for i,n in enumerate(names,start=2): 
  print(i,n)

#List print as String

names_str = ', '.join(names)
print(names_str)

['Sananda', 'Hissan', 'Adiba', 'Susmi']
4
Susmi
['Sananda', 'Hissan']
['Adiba', 'Susmi']
['Sananda', 'Hissan', 'Adiba', 'Susmi', 'Anika']
['Fahim', 'Sananda', 'Hissan', 'Adiba', 'Susmi', 'Anika']
[['1', '24', '3'], 'Fahim', 'Sananda', 'Hissan', 'Adiba', 'Susmi', 'Anika']
[['1', '24', '3'], 'Fahim', 'Sananda', 'Hissan', 'Adiba', 'Susmi', 'Anika', '1', '24', '3']
['Fahim', 'Sananda', 'Hissan', 'Adiba', 'Susmi', 'Anika', '1', '24', '3']
['Fahim', 'Sananda', 'Hissan', 'Adiba', 'Susmi', 'Anika', '1', '24']
['24', '1', 'Anika', 'Susmi', 'Adiba', 'Hissan', 'Sananda', 'Fahim']
['1', '24', 'Adiba', 'Anika', 'Fahim', 'Hissan', 'Sananda', 'Susmi']
['Susmi', 'Sananda', 'Hissan', 'Fahim', 'Anika', 'Adiba', '24', '1']
['1', '24', '3']
1
5
13
2
False
True
Susmi
Sananda
Hissan
Fahim
Anika
Adiba
24
1
0 Susmi
1 Sananda
2 Hissan
3 Fahim
4 Anika
5 Adiba
6 24
7 1
2 Susmi
3 Sananda
4 Hissan
5 Fahim
6 Anika
7 Adiba
8 24
9 1
Susmi, Sananda, Hissan, Fahim, Anika, Adiba, 24, 1

###Tuple

In [31]:
#mutable
#Lists are mutable. It can be changed- assigned or removed items from lists.

#immutable
#Tuples are immutable. It can't assign new value or remove any exixting items from tuple.othrwise it's same as list

touple = ['Sananda', 'Hissan', 'Adiba', 'Susmi']
print(touple)

['Sananda', 'Hissan', 'Adiba', 'Susmi']

###Sets

In [37]:
#Sets are unordered with no duplicate. It is mainly used to find out if an element exist in that set or not. and to remove duplicate items

sets ={'Sananda', 'Hissan', 'Adiba', 'Susmi'}
print(sets)

#find common items between two sets
set1 = {'history','Math','algo'}
set2={'history','art','Design'}

print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.union(set2))

{'Adiba', 'Susmi', 'Hissan', 'Sananda'}
{'history'}
{'Math', 'algo'}
{'art', 'Design', 'history', 'Math', 'algo'}

###Empty list,set & tuple

In [ ]:
#empty list

empty_list = []
#or
empty_list = list()

#empty tuple
emp_tuple =()
#or
emp_tuple = tuple()

#empty set

emp_set ={} #wrong

empt_set = set()